@font-face {
  font-family: 'open_sanslight';
  src: url('../../fonts/OpenSans/OpenSans-Light.eot');
  src: url('../../fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans/OpenSans-Light.woff') format('woff'), url('../../fonts/OpenSans/OpenSans-Light.ttf') format('truetype'), url('../../fonts/OpenSans/OpenSans-Light.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight_italic';
  src: url('../../fonts/OpenSans/OpenSans-LightItalic.eot');
  src: url('../../fonts/OpenSans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans/OpenSans-LightItalic.woff') format('woff'), url('../../fonts/OpenSans/OpenSans-LightItalic.ttf') format('truetype'), url('../../fonts/OpenSans/OpenSans-LightItalic.svg#open_sanslight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../../fonts/OpenSans/OpenSans-Regular.eot');
  src: url('../../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans/OpenSans-Regular.woff') format('woff'), url('../../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'), url('../../fonts/OpenSans/OpenSans-Regular.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansitalic';
  src: url('../../fonts/OpenSans/OpenSans-Italic.eot');
  src: url('../../fonts/OpenSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans/OpenSans-Italic.woff') format('woff'), url('../../fonts/OpenSans/OpenSans-Italic.ttf') format('truetype'), url('../../fonts/OpenSans/OpenSans-Italic.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url('../../fonts/OpenSans/OpenSans-Semibold.eot');
  src: url('../../fonts/OpenSans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans/OpenSans-Semibold.woff') format('woff'), url('../../fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype'), url('../../fonts/OpenSans/OpenSans-Semibold.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url('../../fonts/OpenSans/OpenSans-SemiboldItalic.eot');
  src: url('../../fonts/OpenSans/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans/OpenSans-SemiboldItalic.woff') format('woff'), url('../../fonts/OpenSans/OpenSans-SemiboldItalic.ttf') format('truetype'), url('../../fonts/OpenSans/OpenSans-SemiboldItalic.svg#open_sanssemibold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url('../../fonts/OpenSans/OpenSans-Bold.eot');
  src: url('../../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans/OpenSans-Bold.woff') format('woff'), url('../../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'), url('../../fonts/OpenSans/OpenSans-Bold.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold_italic';
  src: url('../../fonts/OpenSans/OpenSans-BoldItalic.eot');
  src: url('../../fonts/OpenSans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff'), url('../../fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype'), url('../../fonts/OpenSans/OpenSans-BoldItalic.svg#open_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansextrabold';
  src: url('../../fonts/OpenSans/OpenSans-ExtraBold.eot');
  src: url('../../fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff'), url('../../fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype'), url('../../fonts/OpenSans/OpenSans-ExtraBold.svg#open_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url('../../fonts/OpenSans/OpenSans-ExtraBoldItalic.eot');
  src: url('../../fonts/OpenSans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff'), url('../../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype'), url('../../fonts/OpenSans/OpenSans-ExtraBoldItalic.svg#open_sansextrabold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'libre_baskervilleregular';
  src: url('../../fonts/LibreBaskerville/librebaskerville-regular.eot');
  src: url('../../fonts/LibreBaskerville/librebaskerville-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/LibreBaskerville/librebaskerville-regular.woff2') format('woff2'), url('../../fonts/LibreBaskerville/librebaskerville-regular.woff') format('woff'), url('../../fonts/LibreBaskerville/librebaskerville-regular.ttf') format('truetype'), url('../../fonts/LibreBaskerville/librebaskerville-regular.svg#libre_baskervilleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'libre_baskervilleitalic';
  src: url('../../fonts/LibreBaskerville/librebaskerville-italic.eot');
  src: url('../../fonts/LibreBaskerville/librebaskerville-italic.eot?#iefix') format('embedded-opentype'), url('../../fonts/LibreBaskerville/librebaskerville-italic.woff2') format('woff2'), url('../../fonts/LibreBaskerville/librebaskerville-italic.woff') format('woff'), url('../../fonts/LibreBaskerville/librebaskerville-italic.ttf') format('truetype'), url('../../fonts/LibreBaskerville/librebaskerville-italic.svg#libre_baskervilleitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'libre_baskervillebold';
  src: url('../../fonts/LibreBaskerville/librebaskerville-bold.eot');
  src: url('../../fonts/LibreBaskerville/librebaskerville-bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/LibreBaskerville/librebaskerville-bold.woff2') format('woff2'), url('../../fonts/LibreBaskerville/librebaskerville-bold.woff') format('woff'), url('../../fonts/LibreBaskerville/librebaskerville-bold.ttf') format('truetype'), url('../../fonts/LibreBaskerville/librebaskerville-bold.svg#libre_baskervillebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.OpenSans-Light {
  font-family: 'open_sanslight', sans-serif;
}
.OpenSans-Light-Italic {
  font-family: 'open_sanslight_italic', sans-serif;
}
.OpenSans-Regular {
  font-family: 'open_sansregular', sans-serif;
}
.OpenSans-Regular-Italic {
  font-family: 'open_sansitalic', sans-serif;
}
.OpenSans-SemiBold {
  font-family: 'open_sanssemibold', sans-serif;
}
.OpenSans-SemiBold-Italic {
  font-family: 'open_sanssemibold_italic', sans-serif;
}
.OpenSans-Bold {
  font-family: 'open_sansbold', sans-serif;
}
.OpenSans-Bold-Italic {
  font-family: 'open_sansbold_italic', sans-serif;
}
.OpenSans-ExtraBold {
  font-family: 'open_sansextrabold', sans-serif;
}
.OpenSans-ExtraBold-Italic {
  font-family: 'open_sansextrabold_italic', sans-serif;
}
.LibreBaskerville-Regular {
  font-family: 'libre_baskervilleregular', serif;
}
.LibreBaskerville-Italic {
  font-family: 'libre_baskervilleitalic', serif;
}
.LibreBaskerville-Bold {
  font-family: 'libre_baskervillebold', serif;
}
.thin {
  font-weight: 100;
}
.extra_light {
  font-weight: 200;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi_bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extra_bold {
  font-weight: 800;
}
.black {
  font-weight: 900;
}
.italic {
  font-style: italic;
}
.normal {
  font-style: normal;
}
.YellowOrangeBg {
  background-color: #e67f22;
}
.BenzolGreenBg {
  background-color: #2dcc70;
}
.SalviaBlueBg {
  background-color: #3598db;
}
.RedOrangeBg {
  background-color: #e84c3d;
}
.ApricotYellowBg {
  background-color: #f1c411;
}
.VeroniaPurpleBg {
  background-color: #9a59b7;
}
.HydrangeaRedBg {
  background-color: #b73d4c;
}
.CobaltGreenBg {
  background-color: #a0d468;
}
.AntwarpBlueBg {
  background-color: #3f8dcd;
}
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
}
.fadeIn {
  visibility: visible;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeOut {
  visibility: hidden;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
.transition {
  -webkit-backface-visibility: hidden;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.visible {
  visibility: visible;
}
::-moz-selection {
  background-color: #003399;
  color: #ffcc00;
}
::selection {
  background-color: #003399;
  color: #ffcc00;
}
a {
  -webkit-backface-visibility: hidden;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
html body {
  font-family: 'open_sansregular', sans-serif;
  background-color: #ffffff;
  color: #000000;
}
html body header .navbar {
  background-color: rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
html body header .navbar .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.08);
}
html body header .navbar .navbar-toggler:focus,
html body header .navbar .navbar-toggler:focus-visible {
  box-shadow: 0 0 !important;
  outline: 0 !important;
}
html body header .navbar .navbar-collapse ul li:last-of-type a {
  border-bottom: 0;
}
html body header .navbar .navbar-collapse ul li:last-of-type a:focus,
html body header .navbar .navbar-collapse ul li:last-of-type a:hover {
  border-bottom: 0;
}
html body header .navbar .navbar-collapse ul li a {
  color: rgba(0, 0, 0, 0.48);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
html body header .navbar .navbar-collapse ul li a:focus,
html body header .navbar .navbar-collapse ul li a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
  color: rgba(0, 0, 0, 0.64);
}
html body header .navbar .navbar-collapse ul li a:focus-visible {
  outline-offset: 0 !important;
}
html body header .navbar .navbar-collapse ul li a.active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
  cursor: default;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture {
  display: block;
  overflow: hidden;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture img,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(3) > div a,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(3) > div a {
  background-color: rgba(255, 255, 255, 0.16);
  display: block;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(3) > div a:focus,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(3) > div a:focus,
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(3) > div a:hover,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(3) > div a:hover {
  background-color: transparent;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(4) > div ul,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(4) > div ul {
  list-style-type: none;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(4) > div ul li a,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(4) > div ul li a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(4) > div ul li a:focus,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(4) > div ul li a:focus,
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(4) > div ul li a:hover,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(4) > div ul li a:hover {
  color: rgba(255, 255, 255, 0.98);
}
html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col:nth-of-type(2) .card .card-body,
html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col:nth-of-type(2) .card .card-body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}
html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col .card,
html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col .card {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #ffffff;
  text-align: center;
}
html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col .card picture img,
html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col .card picture img {
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 1px 4px #000000;
  display: block;
  object-fit: cover;
}
html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col .card .card-body .card-title,
html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col .card .card-body .card-title {
  font-family: 'libre_baskervilleregular', serif;
}
html body footer > div ul:nth-of-type(1) li {
  background-color: #e67f22;
}
html body footer > div ul:nth-of-type(2) li a {
  color: rgba(63, 141, 205, 0.8);
}
html body footer > div ul:nth-of-type(2) li a:focus,
html body footer > div ul:nth-of-type(2) li a:hover {
  color: rgba(63, 141, 205, 0.98);
}
html {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
}
html body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 4rem;
}
html body header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
html body header .navbar .navbar-brand {
  height: 1.9rem;
  width: 3.1rem;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
html body header .navbar .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.08);
  border-radius: .32rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
html body header .navbar .navbar-collapse {
  flex-grow: 0;
  margin-top: .5rem;
}
html body header .navbar .navbar-collapse ul {
  margin-bottom: 0;
}
html body header .navbar .navbar-collapse ul li a {
  font-size: 1.1rem;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(1) > div,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(1) > div {
  height: 213.33333333px;
  padding: 1rem;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row {
  margin-left: 0;
  margin-right: 0;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col {
  padding-left: 0;
  padding-right: 0;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture {
  display: block;
  height: 213.33333333px;
  margin-top: 1rem;
  overflow: hidden;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture img,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture img {
  display: block;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(3) > div a,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(3) > div a {
  height: 100%;
  width: 100%;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(4) > div,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(4) > div {
  padding: 1rem;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(4) > div ul,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(4) > div ul {
  margin-bottom: 0;
  padding-left: 0;
}
html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col > div,
html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col > div {
  height: 213.33333333px;
  margin-top: 1rem;
}
html body main > .container > .row:nth-of-type(1) > .col > div,
html body main > .container-fluid > .row:nth-of-type(1) > .col > div {
  height: 100%;
  width: 100%;
}
html body main > .container > .row:nth-of-type(2),
html body main > .container-fluid > .row:nth-of-type(2) {
  margin: 1rem 0;
}
html body main > .container > .row:nth-of-type(2) > .col,
html body main > .container-fluid > .row:nth-of-type(2) > .col {
  padding-left: 0;
  padding-right: 0;
}
html body main > .container > .row:nth-of-type(2) > .col > div,
html body main > .container-fluid > .row:nth-of-type(2) > .col > div {
  height: 160px;
}
html body main > .container > .row:nth-of-type(3),
html body main > .container-fluid > .row:nth-of-type(3) {
  margin: 1rem 0;
}
html body main > .container > .row:nth-of-type(3) > .col,
html body main > .container-fluid > .row:nth-of-type(3) > .col {
  padding-left: 0;
  padding-right: 0;
}
html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col:nth-of-type(1) .card,
html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col:nth-of-type(1) .card {
  padding-top: 2rem;
}
html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col:nth-of-type(2) .card,
html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col:nth-of-type(2) .card {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col .card picture,
html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col .card picture {
  margin-bottom: 1rem;
}
html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col .card picture img,
html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col .card picture img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}
html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col .card .card-body,
html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col .card .card-body {
  padding-bottom: 0;
}
html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col .card .card-body .card-title,
html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col .card .card-body .card-title {
  margin-bottom: 1rem;
}
html body footer {
  padding: .5rem 0;
}
html body footer > div ul {
  margin-bottom: 0;
  width: 50%;
}
html body footer > div ul:nth-of-type(1) li {
  margin-right: .15rem;
}
html body footer > div ul:nth-of-type(1) li:nth-child(1),
html body footer > div ul:nth-of-type(1) li:nth-child(2),
html body footer > div ul:nth-of-type(1) li:nth-child(5) {
  padding: 0 12.5%;
}
html body footer > div ul:nth-of-type(1) li:nth-child(3) {
  padding: 0 7.5%;
}
html body footer > div ul:nth-of-type(1) li:nth-child(4) {
  padding: 0 2.5%;
}
html body footer > div ul:nth-of-type(2) li {
  margin-left: .5rem;
}
html body footer > div ul:nth-of-type(2) li a {
  font-size: 2rem;
}
@media (min-width: 576px) {
  html body {
    padding-top: 5.33333333rem;
  }
  html body header .navbar .navbar-brand {
    height: 2.53333333rem;
    width: 4.13333333rem;
  }
  html body header .navbar .navbar-toggler {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(1) > div,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(1) > div {
    height: 320px;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col {
    margin-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture {
    height: 160px;
    margin-top: 0;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col > div,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col > div {
    height: 160px;
    margin-top: 0;
  }
  html body main > .container > .row:nth-of-type(1) > .col > div,
  html body main > .container-fluid > .row:nth-of-type(1) > .col > div {
    height: 100%;
    width: auto;
  }
  html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col .card .card-body,
  html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col .card .card-body {
    padding: 0 4rem;
  }
  html body footer > div ul:nth-of-type(1) li {
    margin-right: .25rem;
  }
  html body footer > div ul:nth-of-type(1) li:nth-child(1),
  html body footer > div ul:nth-of-type(1) li:nth-child(2),
  html body footer > div ul:nth-of-type(1) li:nth-child(5) {
    padding: 0 16.66666667%;
  }
  html body footer > div ul:nth-of-type(1) li:nth-child(3) {
    padding: 0 10%;
  }
  html body footer > div ul:nth-of-type(1) li:nth-child(4) {
    padding: 0 3.33333333%;
  }
  html body footer > div ul:nth-of-type(2) li a {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  html body {
    padding-top: 6.66666667rem;
  }
  html body header .navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  html body header .navbar .navbar-brand {
    height: 3.04rem;
    width: 4.96rem;
  }
  html body header .navbar .navbar-collapse {
    margin-top: 0;
  }
  html body header .navbar .navbar-collapse ul li a {
    border-bottom: 0;
    font-size: 0.88rem;
  }
  html body header .navbar .navbar-collapse ul li a:focus,
  html body header .navbar .navbar-collapse ul li a:hover {
    border-bottom: 0;
  }
  html body header .navbar .navbar-collapse ul li a.active {
    border-bottom: 0;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(1) > div,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(1) > div {
    height: 426.66666667px;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture {
    height: 213.33333333px;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col > div,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col > div {
    height: 213.33333333px;
  }
  html body footer > div ul:nth-of-type(1) li {
    margin-right: .25rem;
  }
  html body footer > div ul:nth-of-type(1) li:nth-child(1),
  html body footer > div ul:nth-of-type(1) li:nth-child(2),
  html body footer > div ul:nth-of-type(1) li:nth-child(5) {
    padding: 0 16.66666667%;
  }
  html body footer > div ul:nth-of-type(1) li:nth-child(3) {
    padding: 0 10%;
  }
  html body footer > div ul:nth-of-type(1) li:nth-child(4) {
    padding: 0 3.33333333%;
  }
  html body footer > div ul:nth-of-type(2) li a {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) {
  html body {
    padding-top: 8rem;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(1) > div,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(1) > div {
    height: 336px;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2),
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) {
    margin-left: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture {
    height: 160px;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col > div,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col > div {
    height: 160px;
    margin-top: 0;
  }
  html body main > .container > .row:nth-of-type(1) > .col > div,
  html body main > .container-fluid > .row:nth-of-type(1) > .col > div {
    height: 100%;
    width: auto;
  }
  html body main > .container > .row:nth-of-type(2),
  html body main > .container-fluid > .row:nth-of-type(2) {
    margin: 0;
  }
  html body main > .container > .row:nth-of-type(2) > .col > div,
  html body main > .container-fluid > .row:nth-of-type(2) > .col > div {
    height: 106.66666667px;
  }
  html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col:nth-of-type(1) .card,
  html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col:nth-of-type(1) .card {
    padding-right: 0;
  }
  html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col:nth-of-type(2) .card,
  html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col:nth-of-type(2) .card {
    height: 100%;
    padding-left: 0;
  }
  html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col:nth-of-type(2) .card .card-text,
  html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col:nth-of-type(2) .card .card-text {
    text-align: left;
  }
  html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col .card,
  html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col .card {
    padding: 4rem 5rem;
  }
  html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col .card .card-body,
  html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col .card .card-body {
    padding: 0;
  }
  html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col .card .card-body .card-title,
  html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col .card .card-body .card-title {
    margin-bottom: 0.5rem;
  }
  html body footer > div ul:nth-of-type(1) li {
    margin-right: .25rem;
  }
  html body footer > div ul:nth-of-type(1) li:nth-child(1),
  html body footer > div ul:nth-of-type(1) li:nth-child(2),
  html body footer > div ul:nth-of-type(1) li:nth-child(5) {
    padding: 0 4rem;
  }
  html body footer > div ul:nth-of-type(1) li:nth-child(3) {
    padding: 0 2rem;
  }
  html body footer > div ul:nth-of-type(1) li:nth-child(4) {
    padding: 0 1rem;
  }
}
@media (min-width: 1200px) {
  html body header .navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  html body header .navbar .navbar-brand {
    height: 3.8rem;
    width: 6.2rem;
  }
  html body header .navbar .navbar-collapse ul li a {
    font-size: 1.1rem;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(1) > div,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(1) > div {
    height: 389.33333333px;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture {
    height: 186.66666667px;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col > div,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col > div {
    height: 186.66666667px;
  }
  html body main > .container > .row:nth-of-type(2) > .col > div,
  html body main > .container-fluid > .row:nth-of-type(2) > .col > div {
    height: 124.44444444px;
  }
  html body main > .container > .row:nth-of-type(3) > .col > div > .row > .col:nth-of-type(1) .card,
  html body main > .container-fluid > .row:nth-of-type(3) > .col > div > .row > .col:nth-of-type(1) .card {
    padding-top: 4rem;
    padding-right: 0;
  }
  html body footer > div ul:nth-of-type(1) li {
    margin-right: .25rem;
  }
  html body footer > div ul:nth-of-type(1) li:nth-child(1),
  html body footer > div ul:nth-of-type(1) li:nth-child(2),
  html body footer > div ul:nth-of-type(1) li:nth-child(5) {
    padding: 0 4rem;
  }
  html body footer > div ul:nth-of-type(1) li:nth-child(3) {
    padding: 0 2rem;
  }
  html body footer > div ul:nth-of-type(1) li:nth-child(4) {
    padding: 0 1rem;
  }
}
@media (min-width: 1400px) {
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(1) > div,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(1) > div {
    height: 416px;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col:nth-of-type(2) > picture {
    height: 200px;
  }
  html body main > .container > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col > div,
  html body main > .container-fluid > .row:nth-of-type(1) > .col:nth-of-type(2) .row .col > div {
    height: 200px;
  }
  html body main > .container > .row:nth-of-type(2) > .col > div,
  html body main > .container-fluid > .row:nth-of-type(2) > .col > div {
    height: 133.33333333px;
  }
}
