// main: main.less

@media (min-width: 992px) {

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

html {

  body {
    padding-top: 8rem;

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////



    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    main {

      > .container,
      > .container-fluid {

        > .row {

          &:nth-of-type(1) {

            > .col {

              &:nth-of-type(1) {

                > div {
                  height: 320px + 16;
                }
              }

              &:nth-of-type(2) {
                margin-left: -1rem;
                padding-left: 1rem; padding-right: 1rem;

                .row {
                  margin-left: -1rem; margin-right: -1rem;

                  .col {
                    margin-top: 0; margin-bottom: 1rem;
                    padding-left: 1rem / 2; padding-right: 1rem / 2;

                    &:nth-of-type(2) {

                      > picture {
                        height: 320px / 2;
                      }
                    }

                    > div {
                      height: 320px / 2;
                      margin-top: 0;
                    }
                  }
                }
              }

              > div {
                height: 100%; width: auto;
              }
            }
          }

          &:nth-of-type(2) {
            margin: 0;

            > .col {

              > div {
                height: 320px / 3;
              }
            }
          }

          &:nth-of-type(3) {

            > .col {

              > div {

                > .row {

                  > .col {

                    &:nth-of-type(1) {

                      .card {
                        padding-right: 0;
                      }
                    }

                    &:nth-of-type(2) {

                      .card {
                        height: 100%;
                        padding-left: 0;

                        .card-text {
                          text-align: left;
                        }
                      }
                    }

                    .card {
                      padding: 4rem 5rem;

                      .card-body {
                        padding: 0;

                        .card-title {
                          margin-bottom: 1rem / 2;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    footer {

      > div {

        ul {

          &:nth-of-type(1) {

            li {
              margin-right: .25rem;

              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(5) {
                padding: 0 4rem;
              }

              &:nth-child(3) {
                padding: 0 2rem;
              }

              &:nth-child(4) {
                padding: 0 1rem;
              }
            }
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

}
