// main: main.less

@media (min-width: 768px) {

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

html {

  body {
    padding-top: 8rem / 1.2;

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    header {

      .navbar {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;

        .navbar-brand {
          height: 3.8rem / 1.25; width: 6.2rem / 1.25;
        }

        .navbar-collapse {
          margin-top: 0;

          ul {

            li {

              a {
                border-bottom: 0;
                font-size: 1.1rem / 1.25;

                &:focus,
                &:hover {
                  border-bottom: 0;
                }

                &.active {
                  border-bottom: 0;
                }
              }
            }
          }
        }
      }
    }

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    main {

      > .container,
      > .container-fluid {

        > .row {

          &:nth-of-type(1) {

            > .col {

              &:nth-of-type(1) {

                > div {
                  height: 320px + (320 / 3);
                }
              }

              &:nth-of-type(2) {

                .row {

                  .col {

                    &:nth-of-type(2) {

                      > picture {
                        height: (320px + (320 / 3)) / 2;
                      }
                    }

                    > div {
                      height: (320px + (320 / 3)) / 2;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    footer {

      > div {

        ul {

          &:nth-of-type(1) {

            li {
              margin-right: .25rem;

              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(5) {
                padding: 0 25% / 1.5;
              }

              &:nth-child(3) {
                padding: 0 15% / 1.5;
              }

              &:nth-child(4) {
                padding: 0 5% / 1.5;
              }
            }
          }

          &:nth-of-type(2) {

            li {

              a {
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

}
