// main: main.less

@media (min-width: 576px) {

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

html {

  body {
    padding-top: 8rem / 1.5;

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    header {

      .navbar {

        .navbar-brand {
          height: 3.8rem / 1.5; width: 6.2rem / 1.5;
        }

        .navbar-toggler {
          margin-top: 1.2rem / 1.5;
          margin-bottom: 1.2rem / 1.5;
        }
      }
    }

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    main {

      > .container,
      > .container-fluid {

        > .row {

          &:nth-of-type(1) {

            > .col {

              &:nth-of-type(1) {

                > div {
                  height: 320px;
                }
              }

              &:nth-of-type(2) {

                .row {
                  margin-left: -1rem / 2; margin-right: -1rem / 2;

                  .col {
                    margin-top: 1rem;
                    padding-left: 1rem / 2; padding-right: 1rem / 2;

                    &:nth-of-type(2) {

                      > picture {
                        height: 320px / 2;
                        margin-top: 0;
                      }
                    }

                    > div {
                      height: 320px / 2;
                      margin-top: 0;
                    }
                  }
                }
              }

              > div {
                height: 100%; width: auto;
              }
            }
          }

          &:nth-of-type(3) {

            > .col {

              > div {

                > .row {

                  > .col {

                    .card {

                      .card-body {
                        padding: 0 4rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    footer {

      > div {

        ul {

          &:nth-of-type(1) {

            li {
              margin-right: .25rem;

              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(5) {
                padding: 0 25% / 1.5;
              }

              &:nth-child(3) {
                padding: 0 15% / 1.5;
              }

              &:nth-child(4) {
                padding: 0 5% / 1.5;
              }
            }
          }

          &:nth-of-type(2) {

            li {

              a {
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

}
