// main: main.less

@media (min-width: 1200px) {

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

html {

  body {

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    header {

      .navbar {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;

        .navbar-brand {
          height: 3.8rem; width: 6.2rem;
        }

        .navbar-collapse {

          ul {

            li {

              a {
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    main {

      > .container,
      > .container-fluid {

        > .row {

          &:nth-of-type(1) {

            > .col {

              &:nth-of-type(1) {

                > div {
                  height: (320px + (320 / 6)) + 16;
                }
              }

              &:nth-of-type(2) {

                .row {

                  .col {

                    &:nth-of-type(2) {

                      > picture {
                        height: (320px + (320 / 6)) / 2;
                      }
                    }

                    > div {
                      height: (320px + (320 / 6)) / 2;
                    }
                  }
                }
              }
            }
          }

          &:nth-of-type(2) {

            > .col {

              > div {
                height: (320px + (320 / 6)) / 3;
              }
            }
          }

          &:nth-of-type(3) {

            > .col {

              > div {

                > .row {

                  > .col {

                    &:nth-of-type(1) {

                      .card {
                        padding-top: 4rem; padding-right: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    footer {

      > div {

        ul {

          &:nth-of-type(1) {

            li {
              margin-right: .25rem;

              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(5) {
                padding: 0 4rem;
              }

              &:nth-child(3) {
                padding: 0 2rem;
              }

              &:nth-child(4) {
                padding: 0 1rem;
              }
            }
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

}
