// main: main.less

html {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 8rem / 2;

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    header {

      .navbar {
        padding-top: 0;
        padding-bottom: 0;

        .navbar-brand {
          height: 3.8rem / 2; width: 6.2rem / 2;
          margin-right: 0;
          padding-top: 0; padding-bottom: 0;
        }

        .navbar-toggler {
          border-color: fade(@Black, 8%);
          border-radius: .32rem;
          margin-top: 1.2rem / 3;
          margin-bottom: 1.2rem / 3;
        }

        .navbar-collapse {
          flex-grow: 0;
          margin-top: .5rem;

          ul {
            margin-bottom: 0;

            li {

              a {
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    main {

      > .container,
      > .container-fluid {

        > .row {

          &:nth-of-type(1) {

            > .col {

              &:nth-of-type(1) {

                > div {
                  height: 320px / 1.5;
                  padding: 1rem;
                }
              }

              &:nth-of-type(2) {

                .row {
                  margin-left: 0; margin-right: 0;

                  .col {
                    padding-left: 0; padding-right: 0;

                    &:nth-of-type(2) {

                      > picture {
                        display: block;
                        height: 320px / 1.5;
                        margin-top: 1rem;
                        overflow: hidden;

                        img {
                          display: block;
                          height: 100%; width: 100%;
                          margin-left: auto; margin-right: auto;
                        }
                      }
                    }

                    &:nth-of-type(3) {

                      > div {

                        a {
                          height: 100%; width: 100%;
                        }
                      }
                    }

                    &:nth-of-type(4) {

                      > div {
                        padding: 1rem;

                        ul {
                          margin-bottom: 0;
                          padding-left: 0;
                        }
                      }
                    }

                    > div {
                      height: 320px / 1.5;
                      margin-top: 1rem;
                    }
                  }
                }
              }

              > div {
                height: 100%; width: 100%;
              }
            }
          }

          &:nth-of-type(2) {
            margin: 1rem 0;

            > .col {
              padding-left: 0; padding-right: 0;

              > div {
                height: 320px / 2;
              }
            }
          }

          &:nth-of-type(3) {
            margin: 1rem 0;

            > .col {
              padding-left: 0; padding-right: 0;

              > div {

                > .row {

                  > .col {

                    &:nth-of-type(1) {

                      .card {
                        padding-top: 2rem;
                      }
                    }

                    &:nth-of-type(2) {

                      .card {
                        padding-top: 1rem; padding-bottom: 1rem;
                      }
                    }

                    .card {

                      picture {
                        margin-bottom: 1rem;

                        img {
                          height: 100px; width: 100px;
                          margin: 0 auto;
                        }
                      }

                      .card-body {
                        padding-bottom: 0;

                        .card-title {
                          margin-bottom: 1rem;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    footer {
      padding: .5rem 0;

      > div {

        ul {
          margin-bottom: 0;
          width: 50%;

          &:nth-of-type(1) {

            li {
              margin-right: .15rem;

              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(5) {
                padding: 0 25% / 2;
              }

              &:nth-child(3) {
                padding: 0 15% / 2;
              }

              &:nth-child(4) {
                padding: 0 5% / 2;
              }
            }
          }

          &:nth-of-type(2) {

            li {
              margin-left: .5rem;

              a {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
