// main: main.less

@media (min-width: 1400px) {

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

html {

  body {

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////



    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    main {

      > .container,
      > .container-fluid {

        > .row {

          &:nth-of-type(1) {

            > .col {

              &:nth-of-type(1) {

                > div {
                  height: (320px + (320 / 4)) + 16;
                }
              }

              &:nth-of-type(2) {

                .row {

                  .col {

                    &:nth-of-type(2) {

                      > picture {
                        height: (320px + (320 / 4)) / 2;
                      }
                    }

                    > div {
                      height: (320px + (320 / 4)) / 2;
                    }
                  }
                }
              }
            }
          }

          &:nth-of-type(2) {

            > .col {

              > div {
                height: (320px + (320 / 4)) / 3;
              }
            }
          }
        }
      }
    }

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

}
