// main: main.less

@import url('fonts.less');

// @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

.OpenSans-Light { font-family: 'open_sanslight', sans-serif; }
.OpenSans-Light-Italic { font-family: 'open_sanslight_italic', sans-serif; }
.OpenSans-Regular { font-family: 'open_sansregular', sans-serif; }
.OpenSans-Regular-Italic { font-family: 'open_sansitalic', sans-serif; }
.OpenSans-SemiBold { font-family: 'open_sanssemibold', sans-serif; }
.OpenSans-SemiBold-Italic { font-family: 'open_sanssemibold_italic', sans-serif; }
.OpenSans-Bold { font-family: 'open_sansbold', sans-serif; }
.OpenSans-Bold-Italic { font-family: 'open_sansbold_italic', sans-serif; }
.OpenSans-ExtraBold { font-family: 'open_sansextrabold', sans-serif; }
.OpenSans-ExtraBold-Italic { font-family: 'open_sansextrabold_italic', sans-serif; }

.LibreBaskerville-Regular {font-family: 'libre_baskervilleregular', serif; }
.LibreBaskerville-Italic {font-family: 'libre_baskervilleitalic', serif; }
.LibreBaskerville-Bold {font-family: 'libre_baskervillebold', serif; }

// .OpenSans { font-family: 'Open Sans', sans-serif; }
// .LibreBaskerville { font-family: 'Libre Baskerville', serif; }

.thin { font-weight: 100; }
.extra_light { font-weight: 200; }
.light { font-weight: 300; }
.regular { font-weight: 400; }
.medium { font-weight: 500; }
.semi_bold { font-weight: 600; }
.bold { font-weight: 700; }
.extra_bold { font-weight: 800; }
.black { font-weight: 900; }

.italic { font-style: italic; }
.normal { font-style: normal; }

@YellowOrange: #e67f22;
@BenzolGreen: #2dcc70;
@SalviaBlue: #3598db;
@RedOrange: #e84c3d;
@ApricotYellow: #f1c411;
@VeroniaPurple: #9a59b7;
@HydrangeaRed: #b73d4c;
@CobaltGreen: #a0d468;
@AntwarpBlue: #3f8dcd;

.YellowOrangeBg { background-color: @YellowOrange; }
.BenzolGreenBg { background-color: @BenzolGreen; }
.SalviaBlueBg { background-color: @SalviaBlue; }
.RedOrangeBg { background-color: @RedOrange; }
.ApricotYellowBg { background-color: @ApricotYellow; }
.VeroniaPurpleBg { background-color: @VeroniaPurple; }
.HydrangeaRedBg { background-color: @HydrangeaRed; }
.CobaltGreenBg { background-color: @CobaltGreen; }
.AntwarpBlueBg { background-color: @AntwarpBlue; }

@eDreamsBlue: #003399;
@eDreamsYellow: #ffcc00;

@Black: #000000;
@White: #ffffff;

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}

.fadeIn {
  .visible;

  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;

  -webkit-animation-duration: .4s;
          animation-duration: .4s;

  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeOut {
  .invisible;

  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;

  -webkit-animation-duration: .3s;
          animation-duration: .3s;

  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.transition {
  -webkit-backface-visibility: hidden; // fix for transition flickering
  -webkit-transition: .3s ease;
     -moz-transition: .3s ease;
      -ms-transition: .3s ease;
       -o-transition: .3s ease;
          transition: .3s ease;
}

.visible {
  visibility: visible;
}
