// main: main.less

@font-face {
    font-family: 'open_sanslight';
    src: url('../../fonts/OpenSans/OpenSans-Light.eot');
    src: url('../../fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans/OpenSans-Light.woff') format('woff'),
         url('../../fonts/OpenSans/OpenSans-Light.ttf') format('truetype'),
         url('../../fonts/OpenSans/OpenSans-Light.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../../fonts/OpenSans/OpenSans-LightItalic.eot');
    src: url('../../fonts/OpenSans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans/OpenSans-LightItalic.woff') format('woff'),
         url('../../fonts/OpenSans/OpenSans-LightItalic.ttf') format('truetype'),
         url('../../fonts/OpenSans/OpenSans-LightItalic.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../../fonts/OpenSans/OpenSans-Regular.eot');
    src: url('../../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
         url('../../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'),
         url('../../fonts/OpenSans/OpenSans-Regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../../fonts/OpenSans/OpenSans-Italic.eot');
    src: url('../../fonts/OpenSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans/OpenSans-Italic.woff') format('woff'),
         url('../../fonts/OpenSans/OpenSans-Italic.ttf') format('truetype'),
         url('../../fonts/OpenSans/OpenSans-Italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../../fonts/OpenSans/OpenSans-Semibold.eot');
    src: url('../../fonts/OpenSans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans/OpenSans-Semibold.woff') format('woff'),
         url('../../fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype'),
         url('../../fonts/OpenSans/OpenSans-Semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../../fonts/OpenSans/OpenSans-SemiboldItalic.eot');
    src: url('../../fonts/OpenSans/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans/OpenSans-SemiboldItalic.woff') format('woff'),
         url('../../fonts/OpenSans/OpenSans-SemiboldItalic.ttf') format('truetype'),
         url('../../fonts/OpenSans/OpenSans-SemiboldItalic.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../../fonts/OpenSans/OpenSans-Bold.eot');
    src: url('../../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
         url('../../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
         url('../../fonts/OpenSans/OpenSans-Bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../../fonts/OpenSans/OpenSans-BoldItalic.eot');
    src: url('../../fonts/OpenSans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff'),
         url('../../fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype'),
         url('../../fonts/OpenSans/OpenSans-BoldItalic.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../../fonts/OpenSans/OpenSans-ExtraBold.eot');
    src: url('../../fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff'),
         url('../../fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype'),
         url('../../fonts/OpenSans/OpenSans-ExtraBold.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../../fonts/OpenSans/OpenSans-ExtraBoldItalic.eot');
    src: url('../../fonts/OpenSans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff'),
         url('../../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
         url('../../fonts/OpenSans/OpenSans-ExtraBoldItalic.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('../../fonts/LibreBaskerville/librebaskerville-regular.eot');
    src: url('../../fonts/LibreBaskerville/librebaskerville-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/LibreBaskerville/librebaskerville-regular.woff2') format('woff2'),
         url('../../fonts/LibreBaskerville/librebaskerville-regular.woff') format('woff'),
         url('../../fonts/LibreBaskerville/librebaskerville-regular.ttf') format('truetype'),
         url('../../fonts/LibreBaskerville/librebaskerville-regular.svg#libre_baskervilleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('../../fonts/LibreBaskerville/librebaskerville-italic.eot');
    src: url('../../fonts/LibreBaskerville/librebaskerville-italic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/LibreBaskerville/librebaskerville-italic.woff2') format('woff2'),
         url('../../fonts/LibreBaskerville/librebaskerville-italic.woff') format('woff'),
         url('../../fonts/LibreBaskerville/librebaskerville-italic.ttf') format('truetype'),
         url('../../fonts/LibreBaskerville/librebaskerville-italic.svg#libre_baskervilleitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'libre_baskervillebold';
    src: url('../../fonts/LibreBaskerville/librebaskerville-bold.eot');
    src: url('../../fonts/LibreBaskerville/librebaskerville-bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/LibreBaskerville/librebaskerville-bold.woff2') format('woff2'),
         url('../../fonts/LibreBaskerville/librebaskerville-bold.woff') format('woff'),
         url('../../fonts/LibreBaskerville/librebaskerville-bold.ttf') format('truetype'),
         url('../../fonts/LibreBaskerville/librebaskerville-bold.svg#libre_baskervillebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
