// out: ../css/main.css, sourcemap: false, compress: false

@import url('base.less');

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

::-moz-selection {
  background-color: @eDreamsBlue;
  color: @eDreamsYellow;
}

::selection {
  background-color: @eDreamsBlue;
  color: @eDreamsYellow;
}

a {
  .transition;
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

html {

  body {
    .OpenSans-Regular;
    background-color: @White;
    color: @Black;

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    header {

      .navbar {
        background-color: fade(@Black, 2%);
        border-bottom: 1px solid fade(@Black, 8%);

        .navbar-toggler {
          border-color: fade(@Black, 8%);

          &:focus,
          &:focus-visible {
            box-shadow: 0 0 !important;
            outline: 0 !important;
          }
        }

        .navbar-collapse {

          ul {

            li {

              &:last-of-type {

                a {
                  border-bottom: 0;

                  &:focus,
                  &:hover {
                    border-bottom: 0;
                  }
                }
              }

              a {
                color: fade(@Black, 48%);
                border-bottom: 1px solid fade(@Black, 8%);

                &:focus,
                &:hover {
                  border-bottom: 1px solid fade(@Black, 32%);
                  color: fade(@Black, 64%);
                }

                &:focus-visible {
                  outline-offset: 0 !important;
                }

                &.active {
                  border-bottom: 1px solid fade(@Black, 32%);
                  cursor: default;
                }
              }
            }
          }
        }
      }
    }

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    main {

      > .container,
      > .container-fluid {

        > .row {

          &:nth-of-type(1) {

            > .col {

              &:nth-of-type(2) {

                .row {

                  .col {

                    &:nth-of-type(2) {

                      > picture {
                        display: block;
                        overflow: hidden;

                        img {
                          display: block;
                          margin-left: auto; margin-right: auto;
                          object-fit: cover;
                        }
                      }
                    }

                    &:nth-of-type(3) {

                      > div {

                        a {
                          background-color: fade(@White, 16%);
                          display: block;

                          &:focus,
                          &:hover {
                            background-color: transparent;
                          }
                        }
                      }
                    }

                    &:nth-of-type(4) {

                      > div {

                        ul {
                          list-style-type: none;

                          li {

                            a {
                              color: fade(@White, 80%);
                              text-decoration: none;

                              &:focus,
                              &:hover {
                                color: fade(@White, 98%);
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &:nth-of-type(3) {

            > .col {

              > div {

                > .row {

                  > .col {

                    &:nth-of-type(2) {

                      .card {

                        .card-body {
                          align-items: center;
                          display: flex;
                          justify-content: center;
                          margin: auto;
                        }
                      }
                    }

                    .card {
                      background-color: transparent;
                      border: 0;
                      border-radius: 0;
                      color: @White;
                      text-align: center;

                      picture {

                        img {
                          border: 2px solid @White;
                          border-radius: 50%;
                          box-shadow: 0px 1px 4px @Black;
                          display: block;
                          object-fit: cover;
                        }
                      }

                      .card-body {

                        .card-title {
                          .LibreBaskerville-Regular;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////

    footer {

      > div {

        ul {

          &:nth-of-type(1) {

            li {
              .YellowOrangeBg;
            }
          }

          &:nth-of-type(2) {

            li {

              a {
                color: fade(@AntwarpBlue, 80%);

                  &:focus,
                  &:hover {
                    color: fade(@AntwarpBlue, 98%);
                }
              }
            }
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

@import url('_xs.less');
@import url('_sm.less');
@import url('_md.less');
@import url('_lg.less');
@import url('_xl.less');
@import url('_xxl.less');
