<div class="container">
  <div class="d-flex justify-content-between">
    <ul class="list-unstyled d-flex justify-content-star">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="list-unstyled d-flex justify-content-end">
      <!-- Icons powered by FontAwesome. -->
      <li><a href="#" title="Check!"><i class="fas fa-check-circle"></i></a></li>
      <li><a href="#" title="Help?"><i class="fas fa-question-circle"></i></a></li>
      <li><a href="#" title="Info."><i class="fas fa-info-circle"></i></a></li>
    </ul>
  </div>
</div>
