<div class="container">

  <div class="row g-lg-5">
    <div class="col col-12 col-lg-6">
      <div class="BenzolGreenBg"></div>
    </div>

    <div class="col col-12 col-lg-6">

        <div class="row">
          <div class="col col-12 col-sm-6">
            <div class="SalviaBlueBg"></div>
          </div>
          <div class="col col-12 col-sm-6">
            <!-- An image apart of the circular one that substitutes a box. -->
            <picture class="RedOrangeBg">
              <source type="image/webp" srcset="img/home/skytree-et-cerisiers.webp">
              <source type="image/jpeg" srcset="img/home/skytree-et-cerisiers.jpg">
              <img src="img/home/skytree-et-cerisiers.jpg" alt="東京スカイツリー！">
            </picture>
          </div>
          <div class="col col-12 col-sm-6">
            <div class="ApricotYellowBg">
              <!-- A link in a html box. -->
              <a href="https://example.com" title="Go to example.com!"></a>
            </div>
          </div>
          <div class="col col-12 col-sm-6">
            <div class="VeroniaPurpleBg">
              <ul>
                <!-- Some links in a box. -->
                <li><a href="https://example.com" title="Go to example.com!">Link</a></li>
                <li><a href="https://example.com" title="Go to example.com!">Link</a></li>
                <li><a href="https://example.com" title="Go to example.com!">Link</a></li>
                <li><a href="https://example.com" title="Go to example.com!">Link</a></li>
              </ul>
            </div>
          </div>
        </div>

    </div>
  </div>

  <div class="row">
    <div class="col col-12">
      <div class="HydrangeaRedBg"></div>
    </div>
  </div>

  <div class="row">
    <div class="col col-12">
      <div id="randomColour" class="CobaltGreenBg">
        <div class="row">
          <div class="col col-12 col-lg-6">
            <div class="card">
              <picture id="changePicture">
                <source type="image/webp" srcset="img/home/london.webp">
                <source type="image/jpeg" srcset="img/home/london.jpg">
                <img src="img/home/london.jpg" alt="Big Ben!">
              </picture>
              <div class="card-body">
                <h5 id="changeTitle" class="card-title">Hello There</h5>
                <p id="changeDescription" class="card-text">Cupcake ipsum dolor sit amet, jujubes muffin bonbon jelly cookie biscuit tart croissant jelly-o jelly-o donut.</p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-lg-6">
            <div class="card text-left">
              <div class="card-body">
                <p class="card-text">Cupcake ipsum dolor sit amet. Powder chocolate cake sesame snaps apple pie liquorice. Shortbread candy canes dessert cotton candy sweet roll oat cake toffee cookie sesame snaps. Gummi bears cookie lollipop dessert oat cake sugar plum pie tiramisu donut.</p>
              </div>
            </div>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
